* {
    font-family: "Lato", sans-serif;
    /* font-weight: 400; */
    /* font-style: normal; */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.custom-scrollbar-minimal::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar-minimal::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 999px;
}

@keyframes toast-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}